:root {
  --primary: rgb(255, 102, 0);
  --primary-dark: rgb(216, 86, 0);
  --gray: #efebf9;
  /* --orange-primary: rgb(255, 102, 0); */
}

@font-face {
  font-family: "Yekan";
  src: url("../fonts/Far_Yekan.ttf") format(truetype);
}

@font-face {
  font-family: "IranSans";
  src: url("../fonts/sans/IRANSansWeb_Medium.ttf") format(truetype);
  src: url("../fonts/sans/IRANSansWeb_Medium.woff") format(woff);
  src: url("../fonts/sans/IRANSansWeb_Medium.woff2") format(woff2);
}

@font-face {
  font-family: "IranSans-Light";
  src: url("../fonts/sans/IRANSansWeb_Light.ttf") format(truetype);
  src: url("../fonts/sans/IRANSansWeb_Light.woff") format(woff);
  src: url("../fonts/sans/IRANSansWeb_Light.woff2") format(woff2);
}

html {
  direction: rtl;
  user-select: var(--primary);
}

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: "IranSans";
}

a {
  text-decoration: none;
}

a:hover {
  color: inherit;
}

li {
  list-style-type: none;
}

.font-size-20 {
  font-size: 0.9rem;
  text-align: center;
}
