.banner {
  width: 100%;
  text-align: center;
  padding: 30px;
  background: url(../img/hdpatten.svg) var(--primary);
  margin: 20px 0;
  margin-bottom: 50px;
  color: white;
  font-size: 3rem;
  border-radius: 50px;
}

.main h2 {
  color: var(--primary);
  font-size: 1.4rem;
}

.main p {
  font-family: "IranSans-Light";
  line-height: 30px;
}

.button-box {
  display: flex;
  align-items: center;
  gap: 20px;
}

.button-box a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  gap: 5px;
  background-color: var(--gray);
  font-size: 0.8rem;
  border-radius: 20px;
  color: var(--primary);
}

.button-box a svg {
  width: 20px;
}

.button-box a:last-child {
  background-color: var(--primary);
  color: white;
}

.button-box a:hover {
  color: var(--primary);
}

.button-box a:last-child:hover {
  color: white;
}

.about-container {
  display: flex;
  gap: 20px;
}
