/* Start of question-section */
.question-section {
  margin: 50px 0;
}
.question-section h3 {
  font-weight: 900;
}
.question-section p {
  font-family: "IranSans-Light";
  margin: 10px 0;
}

.seclecPlan-box__priceBox {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}
.seclecPlan-box__priceBox span {
  margin: auto 0.4rem;
  opacity: 0.7;
}
.seclecPlan-box__priceBox h3 {
  color: var(--primary);
  font-weight: 900;
}
.blog-section p {
  font-family: "IranSans-Light";
  margin: 10px 0;
}

.question-section__container {
  width: 90%;
  margin-inline: auto;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.question-box {
  padding: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  height: 50px;
  overflow: hidden;
  transition: height 0.15s;
}

.question-box svg {
  transition: transform 0.15s;
}

.question-box--active svg {
  transform: rotate(-45deg);
}

.question-box:last-child {
  padding: 10px;
  border-bottom: 0px solid rgba(0, 0, 0, 0.1);
}

.question-title {
  cursor: pointer;
}

.question-body p {
  font-size: 0.9rem;
}
/* End of question-section */
